{% for nfsservid, nfsservid_args in salt['pillar.get']('nfs', {}).items() %}
{% if salt['grains.get']('host') == nfsservid %}
{% for mount, mount_args in nfsservid_args.items() %}{{mount_args.servermountpoint}} {{salt['pillar.get']("network:"~mount_args.network~":subnet")}}/16({{mount_args.export_parameters}})
{% endfor %}{% endif %}{% endfor %}
