#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp*/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#

 authoritative;

 subnet {{salt['pillar.get']('engine:network:subnet')}} netmask {{salt['pillar.get']('engine:network:netmask')}} {
 range {{salt['pillar.get']('engine:network:dhcp_unknown_range')}};
 option domain-name "{{salt['pillar.get']('engine:network:domaine_name')}}";
 option domain-name-servers {{salt['pillar.get']('engine:servers:dns_server_ip')}};
 option routers {{salt['pillar.get']('engine:master:masterip')}}; # to be corrected
 option broadcast-address {{salt['pillar.get']('engine:network:broadcast_address')}};

 default-lease-time 600;
 max-lease-time 7200;

 next-server {{salt['pillar.get']('engine:servers:pxe_server_ip')}};
 filename "pxelinux.0";

{% for type in salt['pillar.get']('core:types') %}
#############################################
########## {{type}}
###
{% for group, argu in salt['pillar.get'](type, {}).items() %}
##########
# {{group}}

   {%- for host, argo in argu.items() %}
      {%- for network, args in argo.network.items() %}
         {%- if network == "net0" %}
 host {{ host }} {
 hardware ethernet {{ args.hwaddr }};
 fixed-address {{ args.ip }};
 }
         {%- endif %}
      {%- endfor %}
    {%- if argo.bmc is defined %}
   host {{ argo.bmc.name }} {
   hardware ethernet {{ argo.bmc.hwaddr }};
   fixed-address {{ argo.bmc.ip }};
   }
    {%- endif %}
  {%- endfor %}
{% endfor %}
{% endfor %}


 }

