define hostgroup{
   hostgroup_name  type-master
   alias           type-master
}

define hostgroup{
   hostgroup_name  type-bmc
   alias           type-bmc
}

define hostgroup{
   hostgroup_name  type-login
   alias           type-login
}

define hostgroup{
   hostgroup_name  type-io
   alias           type-io
}

define hostgroup{
   hostgroup_name  type-compute
   alias           type-compute
}


