define hostgroup{
   hostgroup_name  master
   alias           master
}

define hostgroup{
   hostgroup_name  bmc
   alias           bmc
}

{% for type in salt['pillar.get']('core:types') %}
{% for group, argu in salt['pillar.get'](type, {}).items() %}
define hostgroup{
   hostgroup_name  {{type}}_{{group}}
   alias           {{type}}_{{group}}
}
{% endfor %}
{% endfor %}

