define hostgroup{
   hostgroup_name  master
   alias           master
}

define hostgroup{
   hostgroup_name  bmc
   alias           bmc
}

{% for group, argu in salt['pillar.get']('computes', {}).items() %}
define hostgroup{
   hostgroup_name  login_{{group}}
   alias           login_{{group}}
}
{% endfor %}


{% for group, argu in salt['pillar.get']('computes', {}).items() %}
define hostgroup{
   hostgroup_name  io_{{group}}
   alias           io_{{group}}
}
{% endfor %}

{% for group, argu in salt['pillar.get']('computes', {}).items() %}
define hostgroup{
   hostgroup_name  compute_{{group}}
   alias           compute_{{group}}
}
{% endfor %}

