{% set netadmin = salt['pillar.get']('network:global_parameters:admin_network') %}
{% for host, args in salt['pillar.get']('masters',{}).items() %}
define host{
        use                     generic-host
        contact_groups          admins
        host_name               {{ host }}
{%- for network, network_args in args.network.items() %}
{%- if network == netadmin %}
        address                 {{ network_args.ip }}
{%- endif %}
{%- endfor %}
        hostgroups              master
        }
{% endfor %}
