{% for host, args in salt['pillar.get']('masters',{}).items() %}
define host{
        use                     generic-host
        contact_groups          admins
        host_name               {{ host }}
        address                 {{ args.network.net0.ip }}
        hostgroups              master
        }
{% endfor %}
