[os_dvd.local]
name=OS base repository
{% for server_ip in salt['pillar.get']('engine_connect:repository_server_ip') %}baseurl=http://{{ server_ip }}/os_dvd.local.repo{% endfor %}
gpgcheck=0
enabled=1

[os_update.local]
name=OS base repository update
{% for server_ip in salt['pillar.get']('engine_connect:repository_server_ip') %}baseurl=http://{{ server_ip }}/os_update.local.repo{% endfor %}
gpgcheck=0
enabled=0
