[os_dvd.local]
name=OS base repository
baseurl=http://{{salt['pillar.get']('engine:servers:repository_server_ip')}}/os_dvd.local.repo
gpgcheck=0
enabled=1

[os_update.local]
name=OS base repository update
baseurl=http://{{salt['pillar.get']('engine:servers:repository_server_ip')}}/os_update.local.repo
gpgcheck=0
enabled=0
