$TTL 86400
@   IN  SOA     {{salt['pillar.get']('engine:master:masterid')}}.{{salt['pillar.get']('engine:network:domaine_name')}}. root.{{salt['pillar.get']('engine:network:domaine_name')}}. (
        2011071001  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          {{salt['pillar.get']('engine:master:masterid')}}.{{salt['pillar.get']('engine:network:domaine_name')}}.
@       IN  A           {{salt['pillar.get']('engine:master:masterip')}}

{{salt['pillar.get']('engine:master:masterid')}}          IN  A   {{salt['pillar.get']('engine:master:masterip')}}

#############################################
########## COMPUTES
###
{% for group, argu in salt['pillar.get']('computes', {}).items() %}
##########
# {{group}}

{% for host, args in argu.items() %}{{host}}          IN  A   {{ args.ip }}
{% if args.bmc is defined %}  {{args.bmc.name}}          IN  A   {{args.bmc.ip}}{% endif %}
{% endfor %}{% endfor %}
#############################################
########## LOGINS
###
{% for group, argu in salt['pillar.get']('logins', {}).items() %}
##########
# {{group}}

{% for host, args in argu.items() %}{{host}}          IN  A   {{ args.ip }}
{% if args.bmc is defined %}  {{args.bmc.name}}          IN  A   {{args.bmc.ip}}{% endif %}
{% endfor %}{% endfor %}
#############################################
########## IO
###
{% for group, argu in salt['pillar.get']('ios', {}).items() %}
##########
# {{group}}

{% for host, args in argu.items() %}{{host}}          IN  A   {{ args.ip }}
{% if args.bmc is defined %}  {{args.bmc.name}}          IN  A   {{args.bmc.ip}}{% endif %}
{% endfor %}{% endfor %}


