{% set admin_ip = salt['pillar.get']('masters:'~(salt['grains.get']('id')|replace("."~salt['pillar.get']('core:domain_name'),''))~':network:'~salt['pillar.get']('core:admin_network')~':ip') %}
{% set admin_hostname = (salt['grains.get']('id')|replace("."~salt['pillar.get']('core:domain_name'),'')) %}
{% set admin_network = salt['pillar.get']('core:admin_network') %}
$TTL 86400
@   IN  SOA     {{admin_hostname}}.{{salt['pillar.get']('core:domain_name')}}. root.{{salt['pillar.get']('core:domain_name')}}. (
        2011071001  ;Serial
        3600        ;Refresh
        1800        ;Retry
        604800      ;Expire
        86400       ;Minimum TTL
)
@       IN  NS          {{admin_hostname}}.{{salt['pillar.get']('core:domain_name')}}.
@       IN  A           {{admin_ip}}

{{admin_hostname}}          IN  A   {{admin_ip}}

{% for type in salt['pillar.get']('core:types') %}
;#############################################
;########## {{type}}
;###
{% for group, argu in salt['pillar.get'](type, {}).items() %}
;##########
;# {{group}}

{%- for host, argo in argu.items() %}
{%- for network, args in argo.network.items() %}
{%- if network == admin_network %}
{{host}}          IN  A   {{ args.ip }}
{%- else %}
{{host}}.{{network}}          IN  A   {{ args.ip }}
{%- endif %}
{%- endfor %}
{%- if argo.bmc is defined %}
{{argo.bmc.name}}          IN  A   {{argo.bmc.ip}}
{%- endif %}
{%- endfor %}
{% endfor %}
{% endfor %}

