{% set admin_interface_ip = salt['pillar.get']('masters:'~(salt['grains.get']('id')|replace("."~salt['pillar.get']('core:domain_name'),''))~':network:'~salt['pillar.get']('core:admin_network')~':ip') %}
{% set admin_network = salt['pillar.get']('core:admin_network') %}

options {
	listen-on port 53 { 127.0.0.1; {{ admin_interface_ip }};};
	listen-on-v6 port 53 { ::1; };
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { localhost; {{ salt['pillar.get']('engine_network:'~admin_network~':subnet') }}/{{ salt['pillar.get']('engine_network:'~admin_network~':shortnetmask') }};};

	recursion no;

	dnssec-enable yes;
	dnssec-validation yes;
	dnssec-lookaside auto;

	/* Path to ISC DLV key */
	bindkeys-file "/etc/named.iscdlv.key";

	managed-keys-directory "/var/named/dynamic";

	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

zone"{{salt['pillar.get']('core:domain_name')}}" IN {
type master;
file "forward";
allow-update { none; };
};

{% for network, args in salt['pillar.get']('network').items() %} 
{% set list1 = args.subnet.split('.') %}

zone"{{list1[1]}}.{{list1[0]}}.in-addr.arpa" IN {
type master;
file "reverse.{{network}}";
allow-update { none; };
};

{% endfor %}

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
