[domain/LDAP]
enumerate = False
cache_credentials = true
id_provider = ldap
auth_provider = ldap
access_provider = ldap
chpass_provider = ldap
ldap_uri = ldap://{{salt['pillar.get']('engine:master:masterip')}}/
ldap_search_base = {% set count = 1 %}{% for dc in pillar['ldap_public']['dc'] %}{% if count == 1%}dc={{dc}}{% set count = 2 %}{% else %},dc={{dc}}{% endif %}{% endfor %}
ldap_tls_reqcert = never
ldap_auth_disable_tls_never_use_in_production = true
[sssd]
services = nss, pam
config_file_version = 2
domains = LDAP
sbus_timeout = 25
reconnection_retries = 4
[nss]
filter_groups = root
filter_users = root
reconnection_retries = 3
[pam]
[sudo]
[autofs]
[ssh]
[pac]
[ifp]
